<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Nexus" value="https://nexusrepo-tools.apps.bld.cammis.medi-cal.ca.gov/repository/nuet-hosted/" />
  </packageSources>
  <packageSourceCredentials>
    <Nexus>
      <add key="Username" value="nexuspoc" />
      <add key="ClearTextPassword" value="Nexus123!" />
    </Nexus>
  </packageSourceCredentials>
</configuration>
